<html>
    <head>
        <title>The Great Gaming Backlog</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" type="text/css"></link>
        <link href="/stylesheets/app.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="game icon"></i>Games Backlog</div>
                <a href="/" class="item">Home</a>
                <a href="/games/new" class="item">Add New Game</a>
                <a href="/games/nowplaying" class="item">Now Playing</a>
                <a href="/games/next" class="item">Up Next</a>
                <a href="/games/completed" class="item">Completed Games</a>
            </div>
        </div>