<html>
    <head>
        <title>Pokemon DB</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" type="text/css"></link>
        <link href="/stylesheets/app.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="Comments icon"></i>Pokemon DB</div>
                <a href="/" class="item">Home</a>
                <a href="/pokemon/new" class="item">New Pokemon</a>
            </div>
        </div>